/**
 * Navigation Bar
 *
 * @format
 */

.navbar {
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	gap: 75px;
	padding: 25px 8px;
	background-color: rgba(61, 61, 61, 0.95);
	backdrop-filter: blur(6px);
	flex-wrap: wrap;
}

.navbar div a {
	text-decoration: none;
	color: white;
	padding: 8px 10px;
	transition: all 0.3s ease;
	font-size: 13px;
	text-transform: uppercase;
}

.navbar div a:hover {
	background-color: #555;
	color: #fff;
	border-radius: 5px;
}

@media (max-width: 780px) {
	.navbar {
		gap: 0px;
		padding: 30px 8px;
		background-color: #3d3d3d;
		flex-wrap: wrap;
	}
	.navbar div a {
		/* padding: 8px 10px; */
		font-size: 12px;
	}
}

@media (max-width: 480px) {
	.navbar {
		gap: 5px;
		padding: 25px 8px;
		flex-wrap: wrap;
	}
}
